.row{style: 'margin-top: 70px'}
  .small-4.columns
    %h1 Pair with Pivotal Labs
  .small-8.columns
    %h3 Sit with us for an hour or so.  Chat or work on your web or mobile project.  No charge.
    %br

    = simple_form_for @pairing_request do |f|
      .row.collapse
        .small-10.columns
          = f.input :email, label: false, placeholder: 'email@example.com'
        .small-2.columns
          = f.submit "Let's Pair", class: 'button prefix'
